.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .header{
        background-color: #1b67ff;
        color: #fff;
        padding: 5px 15px;
        display: flex;
        justify-content: space-between;
        .price_block{
            display: flex;
            flex-direction: column;
            align-items: end;
            .price{
                font-size: 25px;
            }
            .price_desc{
                font-size: 10px;
            }
        }
    }
    .hr{
        border-color: #1b67ff;
    }
    .choose_btn{
        background-color: #fc9149;
        color: #fff;
        border: none;
        height: 40px;
        text-transform: uppercase;
        cursor: pointer;
    }
}